**/.*
filter*
!**/.gitignore
**/*.RData
**/*.rdata
**/*.Rds
**/*.rds
**/*.Rda
**/*.rda
**/*.Rproj*
_Scripts/_stan/*
!_Scripts/_stan/*.stan
**/*.edf
**/*.fif
**/*.pdf
_Preprocessing/output/*
_Preprocessing/raw/*
_Scripts/_rds/*
.Rproj.user
